*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Roboto', sans-serif;
}

header{

    background-color: #1f2937;
    padding: 2em 7em;
}

#logo{

    padding-left: 80px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.nav ul{
    display: flex;
    list-style-type: none;
    gap:20px;
}

.subtext,a{

    color: #e5e7eb;
}

.welcome{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.welcome .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome .right{
    flex-shrink: 0;
    width: 50%;
}

.hero{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;

}

button{
    padding:4px;
    width: 120px;
    border-radius: 8px;
    background-color: #3882F6;
    border: none;
}

.image{
    display: flex;
    background-color: grey;
    width: 350px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

main h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    gap: .5em;

}

.square{
    
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
    margin-top: 50px;
}

main .subtext{
    margin-top: 10px;
    color: grey;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 7em 13em;
}

.quote p{
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
    padding-top: 25px;
}

.quote em{
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.signup{
   /* display: flex; */
   /* align-items: center; */
   /* justify-content: center; */
   padding: 5em 13em;
}

.container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #3882F6;
   width: 100%;
   padding: 50px;
   border radius: 10px;
}

.container button{
    border: 2px solid #f9faf8;
}





